<template name="defaultHeader">

    <div class="blog-masthead">
        <div class="container">
            <nav class="blog-nav">
                <a class="blog-nav-item active" href="/">Események</a>

                {{#if currentUser.profile.isAdmin}}
                    <a class="blog-nav-item" href="{{pathFor 'newEvent'}}">Esemény létrehozása</a>
                    <a class="blog-nav-item" href="{{pathFor 'createCategory'}}">Kategóriák</a>
                {{/if}}

            </nav>
        </div>
    </div>

</template>